// $primary-color: #131a26; /* Azul */
// // #1b375b
// // #1C2434
// $secondary-color: #60b000; /* Verde */
// $tertiary-color: #FF7D2D; /* Laranja */
// $light-color: #f8f9fa; /* Cor clara para fundos */
// $dark-color: #343a40; /* Cor escura para textos */

