$primary-color: #131a26;
$secondary-color: #60b000;
$tertiary-color: #FF7D2D;
$light-color: #f8f9fa;
$dark-color: #343a40;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: white;
  color: $dark-color;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #fff;
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;

  .logo {
    height: 45px;
    width: auto;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    a,
    span {
      color: #1b375b;
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: background-color 0.3s;
      font-size: 1.1rem;

      &:hover {
        color: #60b000;
      }
    }

    button.botao-sair {
      background-color: transparent;
      color: #1b375b;
      border: none;
      padding: 0.75rem 1.5rem;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: none;
      font-size: 1.1rem;
      text-decoration: none;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
      font-weight: 500;

      &:hover {
        color: #60b000;
      }
    }

    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      gap: 0;
      background-color: $primary-color;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;

      &.open {
        display: flex;
      }
    }
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sticky+.container {
  padding-top: 102px;
}

.container {
  flex: 1;
  padding: 0rem;
}

footer {
  background-color: lighten($secondary-color, 20%);
  color: white;
  text-align: center;
  padding: 0.5rem;
  position: relative;
  bottom: 0;
  width: 100%;
}