name: Deploy Front

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: "18"

    - name: Build React App
      run: |
        npm install
        npm run build

    - name: Backup and Replace Frontend Folder
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          timestamp=$(date +'%Y%m%d%H%M%S')
          sudo cp -r /var/www/trackon-web /var/www/trackonweb_backup_$timestamp || true
          sudo rm -rf /var/www/trackon-web
          sudo mkdir -p /var/www/trackon-web

    - name: Upload Build Files
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        source: "build/*"
        target: "/var/www/trackon-web/"

    - name: Restart Nginx
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          sudo systemctl restart nginx
